@import url("https://fonts.googleapis.com/css?family=Exo&display=swap");
.add-1s {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.add-2s {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.add-3s {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.add-4s {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.add-5s {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }

@-webkit-keyframes moveleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
    transform: translate(-100px); }
  80% {
    -webkit-transform: translate(20px);
    transform: translate(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
    transform: translate(-100px); }
  80% {
    -webkit-transform: translate(20px);
    transform: translate(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@font-face {
  font-family: SolaimanLipi;
  src: url(../vendors/font/SolaimanLipi.ttf); }

body {
  background: #eeeeee !important; }

.text-active {
  color: #FF5722; }

.bg-custom-primary {
  background-color: #FF5722 !important; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #FF5722 !important; }

.btn-custom-primary {
  color: #fff !important;
  background-color: #FF5722 !important;
  border-color: #FF5722 !important; }

.btn-custom-outline-primary {
  color: #FF5722 !important;
  border-color: #FF5722 !important; }
  .btn-custom-outline-primary:hover {
    color: #fff !important;
    background-color: #FF5722 !important;
    border-color: #FF5722 !important; }

.btn-facebook {
  color: #fff !important;
  background-color: #3b5998 !important;
  border-color: #3b5998 !important; }

.btn-twitter {
  color: #fff !important;
  background-color: #55acee !important;
  border-color: #55acee !important; }

#profile a {
  color: #FF5722; }

#profile .profile-panel {
  padding: 2.5rem 1.75rem;
  color: #fff;
  background: #FF5722;
  -webkit-border-radius: .25rem;
  border-radius: .25rem; }
  #profile .profile-panel .num {
    font-family: 'Exo', sans-serif;
    font-size: 2rem; }

@media (max-width: 767px) {
  .m-d-none {
    display: none !important; } }

header .header-top {
  height: 50px;
  background: #FF5722;
  position: relative; }
  header .header-top .logo {
    width: 300px;
    float: left; }
    header .header-top .logo h1 {
      font-size: 32px;
      margin: 0;
      padding: 6px;
      color: #ffffff; }
    header .header-top .logo img {
      height: 50px;
      padding: 10px; }
  header .header-top .top-search-sec {
    float: left;
    width: -webkit-calc( 100% - 600px);
    width: calc( 100% - 600px);
    height: 50px; }
    header .header-top .top-search-sec .top-search {
      background: #D84315;
      border: 1px solid #D84315;
      width: 98.5%;
      padding: 5px;
      padding-left: 10px;
      padding-right: 40px;
      margin: 6.5px;
      color: #ffffff; }
      header .header-top .top-search-sec .top-search::-webkit-input-placeholder {
        color: #ffffff; }
      header .header-top .top-search-sec .top-search::-moz-placeholder {
        color: #ffffff; }
      header .header-top .top-search-sec .top-search::-ms-input-placeholder {
        color: #ffffff; }
      header .header-top .top-search-sec .top-search::placeholder {
        color: #ffffff; }
    header .header-top .top-search-sec .top-search-btn {
      position: relative;
      top: -39px;
      right: 16px;
      float: right;
      background: transparent;
      border: 0;
      color: #ffffff;
      font-size: 20px; }
  header .header-top .top-nav {
    width: 300px;
    float: right; }
    header .header-top .top-nav ul {
      margin: 0;
      padding: 0;
      float: right; }
      header .header-top .top-nav ul li {
        float: left;
        list-style: none;
        margin: 0px;
        padding: 0px; }
        header .header-top .top-nav ul li a {
          padding: 14px;
          color: #ffffff;
          display: block;
          font-size: 15px;
          border-left: 1px solid #D84315;
          text-decoration: none; }
          header .header-top .top-nav ul li a:hover {
            background: #D84315; }

.category-sec::after {
  content: "";
  clear: both;
  display: block; }

.category-sec .category {
  width: 250px;
  float: left; }
  .category-sec .category .cart-sec {
    margin-top: 0px; }
    .category-sec .category .cart-sec .cart-header ul {
      margin: 5; }
      .category-sec .category .cart-sec .cart-header ul li {
        list-style: none;
        float: left;
        width: 33.3%;
        text-align: center;
        border-right: 1px solid transparent;
        position: relative; }
        .category-sec .category .cart-sec .cart-header ul li .badge {
          position: absolute;
          top: 5px;
          right: 5px;
          padding: 2px 4.5px; }
        .category-sec .category .cart-sec .cart-header ul li i.fas {
          color: #ffffff;
          background: #FF5722;
          display: block;
          font-size: 22px;
          padding: 10px;
          height: 41px; }
          .category-sec .category .cart-sec .cart-header ul li i.fas:hover {
            background: #D84315; }
    .category-sec .category .cart-sec .cart-body {
      margin: 5px; }
      .category-sec .category .cart-sec .cart-body .cart-item {
        background: #ffffff;
        margin-bottom: 1px;
        display: block; }
        .category-sec .category .cart-sec .cart-body .cart-item table {
          width: 100%; }
        .category-sec .category .cart-sec .cart-body .cart-item .item-qty {
          width: 25px;
          padding: 5px;
          text-align: center;
          color: #999; }
        .category-sec .category .cart-sec .cart-body .cart-item .item img {
          width: 50px;
          float: left;
          margin-right: 10px; }
        .category-sec .category .cart-sec .cart-body .cart-item p {
          margin: 0px;
          font-size: 14px; }
        .category-sec .category .cart-sec .cart-body .cart-item small {
          display: block;
          font-size: 12px; }
        .category-sec .category .cart-sec .cart-body .cart-item .item-action {
          color: #999;
          padding: 5px; }
        .category-sec .category .cart-sec .cart-body .cart-item .item-price {
          font-weight: bold;
          font-size: 14px; }
    .category-sec .category .cart-sec .cart-footer {
      background: #ffffff;
      margin: 5px;
      padding: 15px; }
      .category-sec .category .cart-sec .cart-footer .price-total {
        color: #333333;
        text-align: center;
        font-weight: bold; }
      .category-sec .category .cart-sec .cart-footer .btn-order {
        -webkit-border-radius: 0px !important;
        border-radius: 0px !important;
        display: block !important;
        width: 100%; }
      .category-sec .category .cart-sec .cart-footer small {
        font-size: 9px;
        color: #D84315;
        padding: 5px 0;
        text-align: center; }
  .category-sec .category h4 {
    background: #FF5722;
    margin: 5px;
    padding: 10px;
    color: #ffffff;
    text-align: left;
    font-size: 18px; }
  .category-sec .category ul {
    margin: 5px;
    padding: 0px; }
    .category-sec .category ul li {
      list-style: none; }
      .category-sec .category ul li a {
        display: block;
        padding: 10px;
        color: #111111;
        background: #ffffff;
        margin-bottom: 2px;
        font-size: 14px;
        -webkit-box-shadow: 1px 1px 2px #eeeeee;
        box-shadow: 1px 1px 2px #eeeeee; }
        .category-sec .category ul li a:hover {
          text-decoration: none;
          background: #FF5722;
          color: #ffffff;
          -webkit-box-shadow: 1px 1px 2px #dddddd;
          box-shadow: 1px 1px 2px #dddddd; }
          .category-sec .category ul li a:hover i.fas {
            color: #ffffff; }
        .category-sec .category ul li a i.fas {
          float: right;
          color: #cccccc;
          line-height: inherit;
          font-size: 16px; }

.category-sec .category-slider {
  float: left;
  width: -webkit-calc( 100% - 500px);
  width: calc( 100% - 500px);
  margin-top: 5px; }
  .category-sec .category-slider .feature-product {
    margin-top: 5px; }
    .category-sec .category-slider .feature-product .card {
      float: left;
      -webkit-border-radius: 0;
      border-radius: 0;
      width: 24%;
      margin: .5%;
      -webkit-box-shadow: 1px 1px 2px #eeeeee;
      box-shadow: 1px 1px 2px #eeeeee; }
      @media (max-width: 991px) {
        .category-sec .category-slider .feature-product .card {
          width: 50%; } }
      .category-sec .category-slider .feature-product .card .card-body {
        background: #ffffff;
        padding: 10px; }
        .category-sec .category-slider .feature-product .card .card-body .card-title {
          padding: 6px 0;
          margin: 0px; }
        .category-sec .category-slider .feature-product .card .card-body .price {
          font-weight: bold; }
        .category-sec .category-slider .feature-product .card .card-body .old-price {
          text-decoration: line-through;
          font-size: 13px;
          color: #D84315;
          font-weight: 100 !important; }
      .category-sec .category-slider .feature-product .card .card-footer {
        border: 0 !important;
        padding: 0px; }
        .category-sec .category-slider .feature-product .card .card-footer .btn {
          -webkit-border-radius: 0px;
          border-radius: 0px;
          color: #ffffff; }
        .category-sec .category-slider .feature-product .card .card-footer .btn-add-cart {
          width: 100%;
          color: #FF5722; }
      .category-sec .category-slider .feature-product .card .btn-add-fav {
        color: #D84315;
        position: absolute;
        right: 0;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        height: 50px;
        width: 50px; }
      .category-sec .category-slider .feature-product .card:hover .btn-add-cart {
        background: #FF5722;
        color: #ffffff; }
      .category-sec .category-slider .feature-product .card:hover .btn-add-fav {
        background: #D84315;
        color: #ffffff; }

.category-sec .buy-sale {
  width: 250px;
  float: right; }

.page {
  margin-top: 5px; }

.block-sec {
  clear: both; }
  .block-sec .box {
    background: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    min-height: 100px; }

footer {
  clear: both;
  background: #999;
  display: block;
  color: #ffffff; }
  footer .footer-bottom {
    background: #111111; }

.cart-page .card {
  margin-bottom: 15px; }
  .cart-page .card .product-img {
    width: 65px; }
  .cart-page .card .table {
    margin: 0px; }
    .cart-page .card .table td {
      vertical-align: middle; }
      .cart-page .card .table td p {
        margin: 0px; }

.cart-shopping-total .cart-sub-total, .cart-shopping-total .cart-grand-total {
  text-align: right; }

.checkout-page .card-title {
  margin: 0px;
  font-size: 18px;
  text-transform: uppercase; }
  .checkout-page .card-title a {
    display: block;
    color: #D84315; }
    .checkout-page .card-title a:hover {
      text-decoration: none; }

.footer .links-social {
  border-top: 1px solid #e5e5e5;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 70px; }

.social {
  overflow: hidden; }

.social a {
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.social a:hover {
  color: #fff; }

.social .fb a:before {
  content: "\f09a";
  font-family: FontAwesome; }

.social .fb a {
  font-size: 16px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
  background: #3C5B9B !important; }

.social .tw a:before {
  content: "\f099";
  font-family: FontAwesome; }

.social .tw a {
  font-size: 16px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
  background: #359BED !important; }

.social .googleplus a:before {
  content: "\f0d5";
  font-family: FontAwesome; }

.social .googleplus a {
  font-size: 16px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
  background: #E33729 !important; }

.social .rss a:before {
  content: "\f09e";
  font-family: FontAwesome; }

.social .rss a {
  content: "\f09e";
  font-family: FontAwesome;
  font-size: 16px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
  background: #FD9F13 !important; }

.social .pintrest a:before {
  content: "\f0d3";
  font-family: FontAwesome; }

.social .pintrest a {
  content: "\f0d3";
  font-family: FontAwesome;
  font-size: 16px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
  background: #cb2027 !important; }

.social .linkedin a:before {
  content: "\f0e1";
  font-family: FontAwesome; }

.social .linkedin a {
  content: "\f0e1";
  font-family: FontAwesome;
  font-size: 16px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
  background: #027ba5 !important; }

.social .youtube a:before {
  content: "\f167";
  font-family: FontAwesome; }

.social .youtube a {
  font-size: 16px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
  background: #F03434 !important; }

.social h4 {
  margin: 25px 0 0px 0px; }

.social ul {
  margin: 0;
  list-style: none; }

.social ul li {
  margin-right: 7px;
  float: left; }

.social ul li {
  border-bottom: none; }

.social a {
  transition: background 400ms ease-in-out;
  -webkit-transition: background 400ms ease-in-out;
  -moz-transition: background 400ms ease-in-out;
  -o-transition: background 400ms ease-in-out; }

.footer .links-social .contact-info .footer-logo {
  margin-top: 10px; }

.footer .links-social .contact-info .about-us {
  margin-bottom: 20px; }

.footer .links-social .contact-info .social-icons a {
  color: #888888;
  font-size: 16px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  width: 2em;
  height: 2em;
  display: inline-block;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  text-align: center; }

.footer .links-social .contact-info .social-icons a:hover,
.footer .links-social .contact-info .social-icons a:focus,
.footer .links-social .contact-info .social-icons a.active {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #fff; }

.footer .links-social .contact-info .social-icons a .icon {
  line-height: 2em; }

.footer .module-heading {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #555555; }

.footer .contact-timing .table tbody tr {
  border-bottom: 1px solid #e1e1e1; }

.footer .contact-timing .table tbody tr td {
  border-top: none;
  font-size: 12px;
  line-height: 36px;
  padding: 0px !important; }

.footer .contact-timing .contact-number {
  font-family: 'Open Sans', sans-serif; }

.footer .contact-information .media .media-body a {
  color: #666666; }

.footer .footer-bottom {
  background: #202020;
  padding-top: 30px;
  padding-bottom: 30px; }

.footer .module-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 15px; }

.footer .footer-bottom .module-heading {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #898989; }

.toggle-footer {
  color: #666; }

.toggle-footer a {
  margin-left: 0px !important; }

.toggle-footer a:before {
  display: none; }

.toggle-footer i {
  background: #333;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.footer .footer-bottom .module-body ul li:last-child {
  border: none; }

.footer .footer-bottom .module-body ul li a {
  font-size: 13px;
  line-height: 30px;
  color: #666666;
  position: relative;
  margin-left: 23px;
  display: block; }

.footer .footer-bottom .module-body ul li a:before {
  content: "\f111";
  font-family: FontAwesome;
  position: absolute;
  margin-left: -22px;
  font-size: 6px; }

.copyright-bar {
  background: #121212;
  padding: 20px 0px; }

.copyright-bar .copyright {
  color: #5d5c5c;
  line-height: 28px; }

.copyright-bar .payment-methods {
  text-align: right; }

.copyright-bar .payment-methods ul li {
  display: inline-block;
  margin-right: 15px; }

.copyright-bar .payment-methods ul li:last-child {
  margin-right: 0px; }

.copyright-bar .no-padding {
  padding: 0px; }
