@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

.text-active{
    color: $primary;
}
.bg-custom-primary {
    background-color: $primary !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: $primary !important;
}

.btn-custom-primary {
    color: #fff !important;
    background-color: $primary !important;
    border-color: $primary !important;
}
.btn-custom-outline-primary {
    color: $primary !important;
    border-color: $primary !important;
    &:hover {
        color: #fff !important;
        background-color: $primary !important;
        border-color: $primary !important;
    }
}
.btn-facebook {
    color: #fff !important;
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
}
.btn-twitter {
    color: #fff !important;
    background-color: #55acee !important;
    border-color: #55acee !important;
}


//  profile.html
#profile {
    a {
        color: $primary;
    }
    .profile-panel{
        padding: 2.5rem 1.75rem;
        color: #fff;
        background: $primary;
        border-radius: .25rem;
        .num {
            font-family: 'Exo', sans-serif;
            font-size: 2rem;
        }
    }
}