// color
	$primary: #FF5722;
	$secondary: #2196F3;
	$dark-p: #D84315;
	$light: #ffffff;
	$light-x: #eeeeee;
	$dark: #111111;
	$gray: #333333;
	$light-gray:#cccccc; 
	$gray-x:#999; 

// Responsive Brackpoint 
	$phones: "(max-width: 575px)";
	$min_phones: "(min-width: 576px)";
	$max_phones: "(max-width: 767px)";
	$min_tablets: "(min-width: 768px)";
	$max_tablets: "(max-width: 991px)";
	$min_desktops: "(min-width: 992px)";
	$max_desktops: "(max-width: 1199px)";
	$large_device: "(min-width: 1200px)";
	
	// @media #{$phones}{
	// 	.d-none{
	// 		display: none;
	// 		display: grid;
	// 		place-items: center;
	// 	}
	// }

// animate.css mixin
	@mixin add($duration, $delay) {
		animation-duration: $duration;
		animation-delay: $delay;
	}

	@for $i from 1 through 5 {
		.add-#{$i}s { @include add($i/2 + 0s, $i/2 + 0s); }
	}
	// animation

	@keyframes moveleft{
		0% {
			opacity: 0;
			transform: translate(-100px);
		}
		80% {
			transform: translate(20px);
		}
		100% {
			opacity: 1;
			transform: translate(0);
		}
	}

// custome style

@font-face {
	font-family: SolaimanLipi;
	src: url(../vendors/font/SolaimanLipi.ttf);
  }
body{
	background: #eeeeee !important;
}
// Login Import
@import "login";
// Header 
@media #{$max_phones} {
	.m-d-none{
		display: none !important;
	}
}

header{
	.header-top{
		height: 50px;
		background: $primary;
		position: relative;
		.logo{
			width: 300px;
			float: left;
			h1{
				font-size: 32px;
				margin: 0;
				padding: 6px;
				color: $light;
			}
			img{
				height: 50px;
				padding: 10px;
			}
		}
		.top-search-sec{
			float: left;
			width: calc( 100% - 600px );
			height: 50px;
			.top-search{
				background: $dark-p;
				border: 1px solid $dark-p;
				width: 98.5%;
				padding: 5px;
				padding-left: 10px;
				padding-right: 40px;
				margin: 6.5px;
				color: $light;
				&::placeholder{
					color: $light;
				}
			}
			.top-search-btn{
				position: relative;
				top: -39px;
				right: 16px;
				float: right;
				background: transparent;
				border: 0;
				color: $light;
				font-size: 20px;
			}
		}
		.top-nav{
			width: 300px;
			float: right;
			ul{
				margin: 0;
				padding: 0;
				float: right;
				li{
					float: left;
					list-style: none;
					margin: 0px;
					padding: 0px;
					a{
						padding: 14px;
						color: $light;
						display: block;
						font-size: 15px;
						border-left: 1px solid $dark-p;
						text-decoration: none;
						&:hover{
							background: $dark-p;
						}
					}
				}
			}
		}
	}
	
}
.category-sec{
	&::after{
		content: "";
		clear: both;
		display: block;
	}
	.category{
		width: 250px;
		float: left;
		.cart-sec{
			margin-top: 0px;
			.cart-header{
				ul{
					margin: 5;
					li{
						list-style: none;
						float: left;
						width: 33.3%;
						text-align: center;
						border-right: 1px solid transparent;
						position: relative;
						.badge{
							position: absolute;
							top: 5px;
							right: 5px;
							padding: 2px 4.5px;
						}
						i.fas{
							color: $light;
							background: $primary;
							display: block;
							font-size: 22px;
							padding: 10px;
							height: 41px;
							&:hover{
								background: $dark-p;
							}
						}
					}
				}
			}
			.cart-body{
				margin: 5px;
				.cart-item{
					table{
						width: 100%;;
					}
					background: $light;
					margin-bottom: 1px;
					display: block;
					.item-qty{
						width: 25px;
						padding: 5px;
						text-align: center;
						color: $gray-x;
					}
					.item{
						img{
							width: 50px;
							float: left;
							margin-right: 10px;
						}
					}
					p{
						margin: 0px;
						font-size: 14px;
					}
					small{
						display: block;
						font-size: 12px;
					}
					.item-action{
						color: $gray-x;
						padding: 5px;
					}
					.item-price{
						font-weight: bold;
						font-size: 14px;
					}
				}
			}
			.cart-footer{
				background: $light;
				margin: 5px;
				padding: 15px;
				.price-total{
					color: $gray;
					text-align: center;
					font-weight: bold;
				}
				.btn-order{
					border-radius: 0px !important;
					display: block !important;
					width: 100%;
				}
				small{
					font-size: 9px;
					color: $dark-p;
					padding: 5px 0;
					text-align: center;
				}
			}
		}
		h4{
			background: $primary;
			margin: 5px;
			padding: 10px;
			color: $light;
			text-align: left;
			font-size: 18px;
		}
		ul{
			margin: 5px;
			padding: 0px;

			li{
				list-style: none;
				a{
					display: block;
					padding: 10px;
					color: $dark;
					background: $light;
					margin-bottom: 2px;
					font-size: 14px;
					box-shadow: 1px 1px 2px #eeeeee;
					&:hover{
						text-decoration: none;
						background: $primary;
						color: $light;
						box-shadow: 1px 1px 2px #dddddd;
						i.fas{
							color: $light;
						}
					}
					i.fas{
						float: right;
						color: $light-gray;
						line-height: inherit;
						font-size: 16px;
					}
				}
			}
		}

	}
	.category-slider{
		float: left;
		width: calc( 100% - 500px );
		margin-top: 5px;
		.feature-product{
			margin-top: 5px;
			.card{
				@media #{$max_tablets}{
					width: 50%;
				}
				float: left;
				border-radius: 0;
				width: 24%;
				margin: .5%;
				box-shadow: 1px 1px 2px #eeeeee;
				.card-body{
					background: $light;
					padding: 10px;
					.card-title{
						padding: 6px 0;
						margin: 0px;
					}
					.price{
						font-weight: bold;
					}
					.old-price{
						text-decoration: line-through;
						font-size: 13px;
						color: $dark-p;
						font-weight: 100 !important;
					}
				}
				.card-footer{
					border: 0 !important;
					padding: 0px;
					.btn{
						border-radius: 0px;
						color: $light;
					}
					.btn-add-cart{
						width: 100%;
						color: $primary;
						&:hover{
						}
						
					}
				}
				
				.btn-add-fav{
					color: $dark-p;
					position: absolute;
					right: 0;
					border-radius: 50%;
					height: 50px;
					width: 50px;
					&:hover{
					}
				}
				&:hover{
					.btn-add-cart{
						background: $primary;
						color: $light;
						
					}
					.btn-add-fav{
						background: $dark-p;
						color: $light;
					}
				}
			}
		}
	}
	.buy-sale{
		width: 250px;
		float: right;
	}
}
.page{
	margin-top: 5px;
}
.block-sec{
	clear: both;
	.box{
		background: $light;
		padding: 15px;
		margin-bottom: 15px;
		min-height: 100px;
	}
}
footer{
	clear: both;
	background: $gray-x;
	display: block;
	color: $light;
	.footer-bottom{
		background: $dark;
	}
}
.cart-page{
	.card{
		margin-bottom: 15px;
		.product-img{
			width: 65px;
		}
		.table{
			margin: 0px;
			td{
				vertical-align: middle;
				p{
					margin: 0px;
				}
			}
		}
	}
}
.cart-shopping-total{
	.cart-sub-total, .cart-grand-total{

		text-align: right;
	}
}
.checkout-page{
	.card-title{
		margin: 0px;
		font-size: 18px;
		text-transform: uppercase;
		a{
			display: block;
			color: $dark-p;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.footer .links-social {
	border-top: 1px solid #e5e5e5;
	font-size: 12px;
	line-height: 18px;
	color: #666666;
	margin-bottom: 70px;
  }
  
  .social {
	  overflow: hidden
  }
  .social a {
	  color: #fff;
	  width: 35px;
	  height: 35px;
	  line-height: 35px;
	  border-radius: 3px;
  }
  .social a:hover {
	  color: #fff;
  }
  .social .fb a:before {
	  content: "\f09a";
	  font-family: FontAwesome;
  }
  .social .fb a {
	  font-size: 16px;
	  display: inline-block!important;
	  text-align: center;
	  padding: 0;
	  background: #3C5B9B !important;
  }
  .social .tw a:before {
	  content: "\f099";
	  font-family: FontAwesome;
  }
  .social .tw a {
	  font-size: 16px;
	  display: inline-block!important;
	  text-align: center;
	  padding: 0;
	  background: #359BED !important;
  }
  .social .googleplus a:before {
	  content: "\f0d5";
	  font-family: FontAwesome;
  }
  .social .googleplus a {
	  font-size: 16px;
	  display: inline-block!important;
	  text-align: center;
	  padding: 0;
	  background: #E33729!important;
  }
  .social .rss a:before {
	  content: "\f09e";
	  font-family: FontAwesome;
  }
  .social .rss a {
	  content: "\f09e";
	  font-family: FontAwesome;
	  font-size: 16px;
	  display: inline-block!important;
	  text-align: center;
	  padding: 0;
	  background: #FD9F13 !important;
  }
  .social .pintrest a:before {
	  content: "\f0d3";
	  font-family: FontAwesome;
  }
  .social .pintrest a {
	  content: "\f0d3";
	  font-family: FontAwesome;
	  font-size: 16px;
	  display: inline-block!important;
	  text-align: center;
	  padding: 0;
	  background: #cb2027 !important;
  }
  .social .linkedin a:before {
	  content: "\f0e1";
	  font-family: FontAwesome;
  }
  .social .linkedin a {
	  content: "\f0e1";
	  font-family: FontAwesome;
	  font-size: 16px;
	  display: inline-block!important;
	  text-align: center;
	  padding: 0;
	  background: #027ba5 !important;
  }
  .social .youtube a:before {
	  content: "\f167";
	  font-family: FontAwesome;
  }
  .social .youtube a {
	  font-size: 16px;
	  display: inline-block!important;
	  text-align: center;
	  padding: 0;
	  background: #F03434 !important;
  }
  .social h4 {
	  margin: 25px 0 0px 0px;
  }
  .social ul {
	  margin: 0;
	  list-style: none;
  }
  .social ul li {
	  margin-right: 7px;
	  float: left;
  }
  .social ul li {
	  border-bottom: none;
  }
  .social a {
	  transition: background 400ms ease-in-out;
	  -webkit-transition: background 400ms ease-in-out;
	  -moz-transition: background 400ms ease-in-out;
	  -o-transition: background 400ms ease-in-out;
  }

.footer .links-social .contact-info .footer-logo {
	margin-top: 10px;
  }
  .footer .links-social .contact-info .about-us {
	margin-bottom: 20px;
  }
  .footer .links-social .contact-info .social-icons a {
	color: #888888;
	font-size: 16px;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
	width: 2em;
	height: 2em;
	display: inline-block;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
  }
  .footer .links-social .contact-info .social-icons a:hover,
  .footer .links-social .contact-info .social-icons a:focus,
  .footer .links-social .contact-info .social-icons a.active {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color: #fff;
  }
  .footer .links-social .contact-info .social-icons a .icon {
	line-height: 2em;
  }
  .footer .module-heading {
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	color: #555555;
  }
  .footer .contact-timing .table tbody tr {
	border-bottom: 1px solid #e1e1e1;
  }
  .footer .contact-timing .table tbody tr td {
	border-top: none;
	font-size: 12px;
	line-height: 36px;
	padding: 0px !important;
  }
  .footer .contact-timing .contact-number {
	font-family: 'Open Sans', sans-serif;
  }
  .footer .contact-information .media .media-body a {
	color: #666666;
  }
  .footer .footer-bottom {
	background: #202020;
	padding-top: 30px;
	padding-bottom:30px
  }
  
  .footer .module-title {
	  font-size:14px;
	  font-weight:bold;
	  letter-spacing:0.5px;
	  margin-bottom:15px
	  }
  
  .footer .footer-bottom .module-heading {
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	color: #898989;
  }
  .footer .footer-bottom .module-body ul li {
  
  }
  
  .toggle-footer {color:#666}
  .toggle-footer a {margin-left:0px!important}
  .toggle-footer a:before {display:none}
  .toggle-footer i{background:#333; border-radius:2px}
  
  .footer .footer-bottom .module-body ul li:last-child{border:none}
  
  .footer .footer-bottom .module-body ul li a {
	font-size: 13px;
	line-height: 30px;
	color: #666666;
	position: relative;
	margin-left: 23px;
	display: block;
  }
  .footer .footer-bottom .module-body ul li a:before {
	content: "\f111";
	font-family: FontAwesome;
	position: absolute;
	margin-left: -22px;
	font-size: 6px;
  }
  .copyright-bar {
	background: #121212;
	padding: 20px 0px;
  }
  .copyright-bar .copyright {
	color: #5d5c5c;
	line-height: 28px;
  }
  .copyright-bar .payment-methods {
	text-align: right;
  }
  .copyright-bar .payment-methods ul li {
	display: inline-block;
	margin-right: 15px;
  }
  .copyright-bar .payment-methods ul li:last-child {
	margin-right: 0px;
  }
  .copyright-bar .no-padding {
	padding: 0px;
  }